link(rel='stylesheet', href='modals/preferences/widgets/widgets.css')
script(src='modals/preferences/widgets/widgets.js')
p.preferences-title Widget Settings
div.pref-line
    span.col-white(style='width: 130px;') Open default folder
    button.button#open-widget-folder Open
div.pref-line
    span.col-white(style='width: 50px;') Install
        span.col-white#npm-notice(style='font-size: 11px; cursor: pointer;') (Requires NPM and Git)
    input#widget-install-name(type='text', placeholder='Enter name')
    button.button#install-widget-btn Install
p.installed-title Installed Widgets 
p#widgets-error(style='display: none;')
div.table-container#widgets-container
    div.table-header(style='width: 385px;')
    div.table
        table
            thead
                tr
                    th Name
                    th Position
                    th Active?
                    th Config
                    th Location
                    th Uninstall
            tbody
    div.table-back
