#widgets-container {
    width: 395px;
    clear: both;
}

#packages-container {
    width: 245px;
}

#widget-install-name {
    width: 130px;
}

#install-widget-btn {
    clear: both;
}

.installed-title {
    clear: both;
}

#pos-error {
    font-size: 12px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    height: 20px;
}

#widgets-error {
    color: red;
    font-size: 12px;
    margin-left: 10px;
    display: none;
}

.widget-active, .widget-position {
    cursor: pointer;
}

.position-container p {
    color: white;
}

.position-container div:first-of-type {
    margin-left: 25px;
}

.position-container div {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.position-container input {
    margin-top: -5px;
}