tr(id=data.name, data-name=data.name)
    td= data.name
    td.plugin-active(class=`color: col-${data.active ? 'green' : 'red'}`)= data.active ? 'Yes' : 'No'
    if Object.keys(data.config).length > 0
        td.config-btn View
    else
        td N/A
    td.location-edit Edit
    td.table-remove
        i.fa.fa-times.col-red
