html
  head
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='script/jquery/jquery-ui.min.css')
    script.
      if (typeof module === 'object') { window.module = module; module = undefined;}
    script(src='script/jquery/external/jquery/jquery.js')
    script(src='script/jquery/jquery-ui.min.js')
    script.
      if(window.module) module = window.module;
    script(src='script/main.js')
    block head
  body
    div#wrapper
      div#title-bar
        div#title Login to Cryogen
        div.buttons
          div#minimize-button
          div#exit-button
      block content
