link(rel='stylesheet', href='stylesheets/main-ui.css')
script(src='script/main-ui.js')
div#user-area
  span#user-lett
p#action Action:
div#progress-bar
  div#container
p#client-version No client detected
button#client-btn Check
p#last-commit
