link(rel='stylesheet', href='stylesheets/main-ui.css')
script(src='script/main-ui.js')
div#user-area
  span#user-lett
p#news-title News
  span#news-error - Loading news...
div#news
p#updates-title Latest Updates
  span#updates-error - Loading updates...
  div#updates-mask
div#updates
p#action Action:
div#progress-bar
  div#container
p#client-version No client detected
button#client-btn Check
p#last-commit
