link(rel='stylesheet', href='stylesheets/ui.css')
div#user-area
  span#user-lett
div#first
div#second
div#third
p#action Action:
div#progress-bar
  div#container
p#client-version No client detected
button#client-btn Check
p#last-commit
