html {
  margin: 0px;
}

body {
  margin: 0px;
  overflow: hidden;
}

#wrapper {
  margin: 0px;
  background-color: #333;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

#title-bar {
  -webkit-app-region: drag;
  margin: 0px;
  padding: 0px !important;
  background-color: #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 24px;
  width: 300px;
}

#title {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 0 0 5px;
  color: #fff;
  font-size: 12px;
}

.buttons {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 6px;
  top: 0px;
  line-height: 0px;
  margin-top: 4px;
}

#minimize-button {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#minimize-button:hover {
  background: #f7cf3d;
}

#exit-button {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
}

#exit-button:hover {
  background: #f22424;
}
